/* RESET PARA PERMITIR CENTRALIZAÇÃO */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #f7f8fc;
}


/* INPUTS */
.login-card input {
  width: 100%;
  padding: 0.8rem;
  margin-top: 4px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.login-card input:focus {
  outline: none;
  box-shadow: 0 0 8px #646cff66;
}

/* BOTÃO */
.btn-primary {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: #646cff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  filter: drop-shadow(0 0 0.4em #646cffaa);
}

/* LINK */
.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: #646cff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* ERRO */
.error {
  background: rgba(255, 0, 0, 0.2);
  color: #b30000;
  padding: 0.6rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}